@import "../../assets/styles/common/mixins.less";
@import "../../assets/styles/common/colors.less";

.page-body{
  height: 761px;
  width: 894px;
  background-color: @white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header{
    margin-top: 16px;
  }
  
}

.header{
  height: 30px;
  display: flex;
  align-items: center;
  

  .header-span{
    .setFontMontserrat(600, 24px, 120%, @violetta);
    margin-left: 16px;
  }

  .header-logo{
    width: 30px;
    height: 30px;
  }
}

.first-string{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.third-string__heading{
  .setFontMontserrat(600, 18px, 120%, @black);
  margin-top: 60px;
}

.second-string{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-top: 36px;
  .checkbox-block{
    display: flex;
    flex-direction: column;
    margin-left: 70.67px;

    .checkbox-label{
      .setFontMontserrat(600, 18px, 120%, @black);
      margin-bottom: 16px;
    }

    .checkbox-wrapper{
      display: flex;

      .checkbox-group{
        &:last-child{
          margin-left: 30px;
        } 
      }
    }
  }
}

.third-string{
  display: flex;
  align-items: center;
  margin-top: 16.67px;
  margin-bottom: 29px;
  width: 100%;
  justify-content: space-between;
}

.middle-line{
  width: 773px;
  height: 2px;
  background-color: @lavender;
  margin-top: 18px;
}

.password-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33px;
}

.input-group{
  margin-top: 16px;
  &:last-child{
    margin-bottom: 32px;
  }
}
